#map {
  height: 100vh;
  background-color: white;
  position: sticky;
  top: 0;
}

.all-btn {
  display: flex;
  justify-content: space-between;
  margin:auto;
}

.btn-group {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.row {
  margin-bottom: 6px;
  padding: 12px;
}
