<p style="color: green"><%= notice %></p>
<h1>Flats</h1>
<div class="cards">
  <%# <div id="flats"> %>
  <% @flats.each do |flat| %>
    <div class="container">
      <%= render flat %>
      <%= link_to "Show this flat", flat, class: "btn btn-primary mt-3 mb-5" %>
    </div>
  <% end %>
</div>
<%= link_to "New flat", new_flat_path , class: "btn btn-secondary mt-3" if policy(Flat).new?%>
