<div class="banner">
  <div class="container" id="homepage-header">
    <h1 class="display-3"><strong>Holidays - the authentic way</strong></h1>
    <h6>Get the local experience - Find the perfect flat</h6>
  </div>
</div>
<div class="cards">
  <%# <div id="flats"> %>
  <% @flats.each do |flat| %>
    <div class="container">
      <%= render "flat", flat: flat, full_description: false %>
      <div class="d-grid">
        <%= link_to "Show this flat", flat, class: "btn btn-blue mt-2 mb-5"%>
      </div>
    </div>
  <% end %>
</div>
