<div class="cards">
  <% @flats.each do |flat| %>
    <div class="container">
      <%= render "flat", flat: flat, full_description: false, full_image: false %>
      <div class="d-grid">
        <%= link_to "Show this flat", flat, class: "btn btn-blue mt-2 mb-5"%>
      </div>
    </div>
  <% end %>
</div>
