
<div class="container">
  <h1>My Reservations</h1>
  <div class="cards"id="my-reservations">
    <% @reservations.each do |reservation| %>
      <div class="container">
        <%= render "reservation", reservation: reservation %>
        <div class="d-grid">
        <%= link_to "Show detail", reservation_path(reservation), class: "btn btn-blue mt-2 mb-5"%>
          <%= link_to "Edit reservation", edit_reservation_path(reservation), class: "btn btn-blue mt-2 mb-5"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
