.btn-blue {
  background-color: #2B3467;
  opacity: 0,5;
  color: white;
  border-radius: 5px;
}

.btn-blue:hover {
  background-color: #535d95;
  color: white;
}


/////////// LIGHT BLUE BUTTON /////////////////////////

.btn-light-blue {
  border-color: #c9ccce;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  opacity: 0,5;
  color: black;
  border-radius: 5px;

}

.btn-light-blue:hover {
  background-color: #BAD7E9;
  color: black
}



///////////// RED BUTTON /////////////////////////////


.btn-outline-red {
  border-color: #EB455F;
  border-radius: 5px;
}

.btn-outline-red:hover {
  background-color: #f18484;
}
