.btn-blue {
  background-color: #2B3467;
  opacity: 0,5;
  color: white;
}

.btn-blue:hover {
  background-color: #535d95;
  color: white;
}


/////////// LIGHT GREY BUTTON /////////////////////////




///////////// RED BUTTON /////////////////////////////


.btn-outline-red {
  border-color: #EB455F;
}

.btn-outline-red:hover {
  background-color: #f18484;
}
